[Unit]
Description=Listen for button presses on the GPIO to send doorbell events
After=network.target

[Service]
ExecStart=/home/doorb/Applications/DoorbellCamera/script/button-handler.sh
Restart=always

[Install]
WantedBy=multi-user.target
